In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, sent_tokenize
from wordcloud import WordCloud

/opt/anaconda3/envs/nlp/lib/python3.10/site-packages/scipy/__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.26.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

# Part 1 - Importing Data

Import the data from the ./Data folder with csv health_kwic_25_fixed

"../data/health_kwic_25_fixed.csv"

In [2]:
df_data = pd.read_csv("../data/health_kwic_25_fixed.csv")

# Do some exploratory data analysis

- Practice using .info()
- Pratice using .describe()

In [9]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1171 entries, 0 to 1172
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   docname  1171 non-null   object
 1   from     1171 non-null   int64
 2   to       1171 non-null   int64
 3   pre      1171 non-null   object
 4   keyword  1171 non-null   object
 5   post     1171 non-null   object
 6   pattern  1171 non-null   object
dtypes: int64(2), object(5)
memory usage: 73.2+ KB

In [4]:
df_data.describe()

              from           to
count  1173.000000  1173.000000
mean   2225.494459  2225.494459
std    1546.554139  1546.554139
min      41.000000    41.000000
25%     993.000000   993.000000
50%    1853.000000  1853.000000
75%    3260.000000  3260.000000
max    7284.000000  7284.000000

In [5]:
df_data.head()

,docname,from,to,pre,keyword,post,pattern
0,AFG,354,354,parts government giroa mainstream environmenta...,health,education infrastructure economy provision imp...,health
1,AFG,705,705,combination overall increase related increase ...,diseases,presenting considerable health risks urban rur...,health
2,AFG,708,708,related increase evapotranspiration country li...,health,risks urban rural populations aforementioned c...,health
3,AND,678,678,values annual precipitation drop least mm deca...,health,natural production hydroelectricity agricultur...,health
4,AND,767,767,short term results nationally determined plann...,medical,transport mountain work value become tonnes re...,health

In [8]:
df_data = df_data.dropna()

# Tokenize post column in dataframe

- Use NTKL # Tokenizing the text
- Example: df_rev_dec['tokens'] = df_rev_dec['clean_review_word'].apply(word_tokenize)
- Then apply the token count df_rev_dec['tokens_counts'] = df_rev_dec['tokens'].apply(len)

In [10]:
df_data['tokens'] = df_data['post'].apply(word_tokenize)

# Creating histograms

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.hist.html for reference

- Create 2 histograms
- 1: Create a histogram using the column "pattern" what do you notice?

In [1]:
#Example:
data = {'length': [1.5, 0.5, 1.2, 0.9, 3],
        'width': [0.7, 0.2, 0.15, 0.2, 1.1]}
index = ['pig', 'rabbit', 'duck', 'chicken', 'horse']
df = pd.DataFrame(data, index=index)
hist = df.hist(bins=3)

- 2: Create a histogram using the column "tokens_counts" what do you notice?